<% if (errors.length > 0 && target == 'login') { %>
  <div>
    <% errors.forEach(element => { %>
      <div><%= element %></div>
    <% }) %>
  </div>
<% } else if (success.length > 0 && target == 'login') { %>
  <div>
    <% if (user.email === emailAd) { %>
      <input type="hidden" name="msg" value="<%= success[0] %>" id="sexta-feira">
     <% } else { %>
        <% success.forEach(element => { %>
          <div><%= element %></div>
        <% }) %>
    <% } %>
  </div>
<% } %>