<nav class="navbar navbar-expand-md">
  <div class="container-fluid" style="color: #945737;">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="material-symbols-outlined menu">menu</span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="/">Livros</a>
      <ul class="navbar-nav ms-auto mb-lg-0">
        <% if (user) { %>
          <% if (user.email === emailAd) { %>
            <li class="nav-item">
              <a class="nav-link active" href="/admin">Admin</a>
            </li>
          <% } %>
          <li class="nav-item">
            <a class="nav-link active" href="/register">Registar Livro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/logout">Sair</a>
          </li>
        <% } %>
        <li class="nav-item">
          <a class="nav-link active" href="/singin">Logar</a>
        </li>
    </div>
  </div>
</nav>