<%- include('../includes/header') %>
<%- include('../includes/nav') %>

<a href="/admin/superUser">Registrar super usuario</a>
<a href="/admin/register">Registrar livro do admin</a>

<%- include('../includes/footer') %>
